<h1>Welcome</h1>
<p>Share your stories publically or use it as your private diary</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}